﻿@model WebApp.Models.ORDERDETAIL
<!-- 弹出窗体form表单 -->
 <div id="detailswindow" hidden="hidden" class="easyui-window" 
      title="明细数据" 
      data-options="modal:true,
                    closed:true,
                    maximized:false,
                    iconCls:'icon-more',
                    footer:'#windowfooter',
                    closeDuration:200,
                    closeAnimation:'slide',
                    openDuration:300,
                    openAnimation:'slide',
                    onBeforeClose:function(){
                      var that = $(this);
                      if(hasmodified()){
                        $.messager.confirm('确认','你确定要放弃保存修改的记录?',function(r){
                        if (r){
                          var opts = that.panel('options');
                          var onBeforeClose = opts.onBeforeClose;
                          opts.onBeforeClose = function(){};
                          that.panel('close');
                          opts.onBeforeClose = onBeforeClose;
                        }
                        });
                        return false;
                      }
                    },
                    onOpen:function(){
                       $(this).window('vcenter');
                       $(this).window('hcenter');
                    },
                    onRestore:function(){
                    },
                    onMaximize:function(){
                    }
                    " style="width:1420px;height:520px">
    <!-- begin toolbar -->
    <div class="window-body-toolbar">
        <div class="row">
            <div class="col-sm-8">
                <div class="btn-group btn-group-sm">
                       <button onclick="saveitem()" class="btn btn-default"> 
                          <i class="fa fa-floppy-o"></i> @Html.L("Save") 
                       </button>
                </div>
                <div class="btn-group btn-group-sm" id="deleteitem-btn-group">
                  <button onclick="deleteitem()" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i> @Html.L("Delete")
                  </button>
                </div>
                <div class="btn-group btn-group-sm" style="display:none">
                    <button onclick="todo()" class="btn btn-default">
                        <i class="fa fa-print"></i> ToDo
                    </button>
                </div>
            </div>
            <div class="col-sm-4 text-align-right">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn   btn-success" onclick="closedetailwindow()">
                    <i class="fa fa-chevron-left"></i>
                    @Html.L("Close")
                </button>
              </div>
            </div>
        </div>
    </div>
    <!-- end toolbar -->
    <!-- begin window body -->
    <div class="widget-body">
           <form id="orderdetail_form" 
              class="easyui-form form-horizontal padding-10" 
              method="post" 
              data-options="novalidate:true,
                            onChange: function(target){
                              hasChanged = true;
                             },
                             onLoadSuccess:function(data){
                               hasChanged = false;
                             }">
  @Html.AntiForgeryToken()
   <!--Primary Key-->
  <input type="hidden" id="@Html.IdFor(model => model.ID)" 
                       name="@Html.NameFor(model => model.ID)" 
                       value="@Html.ValueFor(model => model.ID)" />
    <!--出货单号-->
 @Html.HiddenFor(model=>model.ORDERKEY)
   <!--仓库号-->
 @Html.HiddenFor(model=>model.WHSEID)
   <!--货主-->
 @Html.HiddenFor(model=>model.STORERKEY)
   <!--批次号-->
 @Html.HiddenFor(model=>model.EXTERNORDERKEY)
   <!--配送厂区-->
 @Html.HiddenFor(model=>model.LOTTABLE2)
   <!--配送日期-->
 @Html.HiddenFor(model=>model.REQUESTEDSHIPDATE)
   <!--要求到货时间-->
 @Html.HiddenFor(model=>model.DELIVERYDATE)
   <!--外部行号-->
 @Html.HiddenFor(model=>model.EXTERNLINENO)
   <!--LOTTABLE4-->
 @Html.HiddenFor(model=>model.LOTTABLE4)
   <!--LOTTABLE5-->
 @Html.HiddenFor(model=>model.LOTTABLE5)
   <!--LOTTABLE6-->
 @Html.HiddenFor(model=>model.LOTTABLE6)
   <!--LOTTABLE7-->
 @Html.HiddenFor(model=>model.LOTTABLE7)
   <!--LOTTABLE7-->
 @Html.HiddenFor(model=>model.LOTTABLE8)
  <fieldset>
<!-- begin row -->
   <!--行号-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.ORDERLINENUMBER)</span></label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.ORDERLINENUMBER)" 
				   name="@Html.NameFor(model => model.ORDERLINENUMBER)" 
				   value="@Html.ValueFor(model => model.ORDERLINENUMBER)"
				   tabindex="0" required
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.ORDERLINENUMBER)',
								 required:true, 
                                 validType: 'length[0,6]'
                                 " />
       </div>
  </div>
				      <!--状态-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.STATUS)</label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.STATUS)" 
				   name="@Html.NameFor(model => model.STATUS)" 
				   value="@Html.ValueFor(model => model.STATUS)"
				   tabindex="1" 
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.STATUS)',
								 required:false, 
                                 validType: 'length[0,3]'
                                 " />
       </div>
  </div>
				      <!--供应商代码-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.SUPPLIERCODE)</label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.SUPPLIERCODE)" 
				   name="@Html.NameFor(model => model.SUPPLIERCODE)" 
				   value="@Html.ValueFor(model => model.SUPPLIERCODE)"
				   tabindex="2" 
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.SUPPLIERCODE)',
								 required:false, 
                                 validType: 'length[0,20]'
                                 " />
       </div>
  </div>
				      <!--供应商名称-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.SUPPLIERNAME)</label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.SUPPLIERNAME)" 
				   name="@Html.NameFor(model => model.SUPPLIERNAME)" 
				   value="@Html.ValueFor(model => model.SUPPLIERNAME)"
				   tabindex="3" 
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.SUPPLIERNAME)',
								 required:false, 
                                 validType: 'length[0,80]'
                                 " />
       </div>
  </div>
				          <!--end row-->
	   <!-- begin row -->
   <!--供应商物料编号-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.SKU)</span></label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.SKU)" 
				   name="@Html.NameFor(model => model.SKU)" 
				   value="@Html.ValueFor(model => model.SKU)"
				   tabindex="4" required
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.SKU)',
								 required:true, 
                                 validType: 'length[0,30]'
                                 " />
       </div>
  </div>
				      <!--供应商物料名称-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.SKUNAME)</label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.SKUNAME)" 
				   name="@Html.NameFor(model => model.SKUNAME)" 
				   value="@Html.ValueFor(model => model.SKUNAME)"
				   tabindex="5" 
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.SKUNAME)',
								 required:false, 
                                 validType: 'length[0,80]'
                                 " />
       </div>
  </div>
				      <!--第三方物料编号-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.ALTSKU)</label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.ALTSKU)" 
				   name="@Html.NameFor(model => model.ALTSKU)" 
				   value="@Html.ValueFor(model => model.ALTSKU)"
				   tabindex="6" 
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.ALTSKU)',
								 required:false, 
                                 validType: 'length[0,30]'
                                 " />
       </div>
  </div>
				      <!--配送数量-->
   <div class="form-group  col-md-3">
       <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.ORIGINALQTY)</span></label>
	   <div class="col-md-9">  
             <input id="@Html.IdFor(model => model.ORIGINALQTY)"
				   name="@Html.NameFor(model => model.ORIGINALQTY)" 
				   value="@Html.ValueFor(model => model.ORIGINALQTY)"
				   tabindex="7" 
				   class="easyui-numberbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.ORIGINALQTY)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',
                                 
                                 "  />

        </div>
     </div>
				          <!--end row-->
	   <!-- begin row -->
   <!--单位-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.UMO)</span></label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.UMO)" 
				   name="@Html.NameFor(model => model.UMO)" 
				   value="@Html.ValueFor(model => model.UMO)"
				   tabindex="8" required
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.UMO)',
								 required:true, 
                                 validType: 'length[0,10]'
                                 " />
       </div>
  </div>
				      <!--配送件数-->
   <div class="form-group  col-md-3">
       <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.CASECNT)</span></label>
	   <div class="col-md-9">  
             <input id="@Html.IdFor(model => model.CASECNT)"
				   name="@Html.NameFor(model => model.CASECNT)" 
				   value="@Html.ValueFor(model => model.CASECNT)"
				   tabindex="9" 
				   class="easyui-numberbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.CASECNT)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',
                                 
                                 "  />

        </div>
     </div>
				      <!--未出货数量-->
   <div class="form-group  col-md-3">
       <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.OPENQTY)</span></label>
	   <div class="col-md-9">  
             <input id="@Html.IdFor(model => model.OPENQTY)"
				   name="@Html.NameFor(model => model.OPENQTY)" 
				   value="@Html.ValueFor(model => model.OPENQTY)"
				   tabindex="10" 
				   class="easyui-numberbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.OPENQTY)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',
                                 
                                 "  />

        </div>
     </div>
				      <!--已发运数量-->
   <div class="form-group  col-md-3">
       <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.SHIPPEDQTY)</span></label>
	   <div class="col-md-9">  
             <input id="@Html.IdFor(model => model.SHIPPEDQTY)"
				   name="@Html.NameFor(model => model.SHIPPEDQTY)" 
				   value="@Html.ValueFor(model => model.SHIPPEDQTY)"
				   tabindex="11" 
				   class="easyui-numberbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.SHIPPEDQTY)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',
                                 
                                 "  />

        </div>
     </div>
				          <!--end row-->
	   <!-- begin row -->
   <!--已捡货数量-->
   <div class="form-group  col-md-3">
       <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.QTYPICKED)</span></label>
	   <div class="col-md-9">  
             <input id="@Html.IdFor(model => model.QTYPICKED)"
				   name="@Html.NameFor(model => model.QTYPICKED)" 
				   value="@Html.ValueFor(model => model.QTYPICKED)"
				   tabindex="12" 
				   class="easyui-numberbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.QTYPICKED)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',
                                 
                                 "  />

        </div>
     </div>
				      <!--栈板数-->
   <div class="form-group  col-md-3">
       <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.PALLET)</span></label>
	   <div class="col-md-9">  
             <input id="@Html.IdFor(model => model.PALLET)"
				   name="@Html.NameFor(model => model.PALLET)" 
				   value="@Html.ValueFor(model => model.PALLET)"
				   tabindex="13" 
				   class="easyui-numberbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PALLET)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',
                                 
                                 "  />

        </div>
     </div>
				      <!--包装-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.PACKKEY)</label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.PACKKEY)" 
				   name="@Html.NameFor(model => model.PACKKEY)" 
				   value="@Html.ValueFor(model => model.PACKKEY)"
				   tabindex="14" 
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PACKKEY)',
								 required:false, 
                                 validType: 'length[0,10]'
                                 " />
       </div>
  </div>
				      <!--毛重(KG)-->
   <div class="form-group  col-md-3">
       <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.GROSSWGT)</span></label>
	   <div class="col-md-9">  
             <input id="@Html.IdFor(model => model.GROSSWGT)"
				   name="@Html.NameFor(model => model.GROSSWGT)" 
				   value="@Html.ValueFor(model => model.GROSSWGT)"
				   tabindex="15" 
				   class="easyui-numberbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.GROSSWGT)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',
                                 
                                 "  />

        </div>
     </div>
				          <!--end row-->
	   <!-- begin row -->
   <!--净重(KG)-->
   <div class="form-group  col-md-3">
       <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.NETWGT)</span></label>
	   <div class="col-md-9">  
             <input id="@Html.IdFor(model => model.NETWGT)"
				   name="@Html.NameFor(model => model.NETWGT)" 
				   value="@Html.ValueFor(model => model.NETWGT)"
				   tabindex="16" 
				   class="easyui-numberbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.NETWGT)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',
                                 
                                 "  />

        </div>
     </div>
				      <!--体积(M)-->
   <div class="form-group  col-md-3">
       <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.CUBE)</span></label>
	   <div class="col-md-9">  
             <input id="@Html.IdFor(model => model.CUBE)"
				   name="@Html.NameFor(model => model.CUBE)" 
				   value="@Html.ValueFor(model => model.CUBE)"
				   tabindex="17" 
				   class="easyui-numberbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.CUBE)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',
                                 
                                 "  />

        </div>
     </div>
				      <!--备注-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.NOTES)</label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.NOTES)" 
				   name="@Html.NameFor(model => model.NOTES)" 
				   value="@Html.ValueFor(model => model.NOTES)"
				   tabindex="18" 
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.NOTES)',
								 required:false, 
                                 validType: 'length[0,100]'
                                 " />
       </div>
  </div>
				      <!--QC数量-->
   <div class="form-group  col-md-3">
       <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.PQCQTYINSPECTED)</span></label>
	   <div class="col-md-9">  
             <input id="@Html.IdFor(model => model.PQCQTYINSPECTED)"
				   name="@Html.NameFor(model => model.PQCQTYINSPECTED)" 
				   value="@Html.ValueFor(model => model.PQCQTYINSPECTED)"
				   tabindex="19" 
				   class="easyui-numberbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PQCQTYINSPECTED)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',
                                 
                                 "  />

        </div>
     </div>
				          <!--end row-->
	   <!-- begin row -->
   <!--QC不良数-->
   <div class="form-group  col-md-3">
       <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.PQCQTYREJECTED)</span></label>
	   <div class="col-md-9">  
             <input id="@Html.IdFor(model => model.PQCQTYREJECTED)"
				   name="@Html.NameFor(model => model.PQCQTYREJECTED)" 
				   value="@Html.ValueFor(model => model.PQCQTYREJECTED)"
				   tabindex="20" 
				   class="easyui-numberbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PQCQTYREJECTED)',
								 required:true,
                                 precision:2,
                                 validType:'decimal',
                                 
                                 "  />

        </div>
     </div>
				      <!--QC状态-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.PQCSTATUS)</label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.PQCSTATUS)" 
				   name="@Html.NameFor(model => model.PQCSTATUS)" 
				   value="@Html.ValueFor(model => model.PQCSTATUS)"
				   tabindex="21" 
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PQCSTATUS)',
								 required:false, 
                                 validType: 'length[0,10]'
                                 " />
       </div>
  </div>
				      <!--QC人员-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.PQCWHO)</label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.PQCWHO)" 
				   name="@Html.NameFor(model => model.PQCWHO)" 
				   value="@Html.ValueFor(model => model.PQCWHO)"
				   tabindex="22" 
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PQCWHO)',
								 required:false, 
                                 validType: 'length[0,10]'
                                 " />
       </div>
  </div>
				      <!--QC日期-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.PQCDATE)</label>
		<div class="col-md-9">  
                <input id="@Html.IdFor(model => model.PQCDATE)" 
			       name="@Html.NameFor(model => model.PQCDATE)"
                   value="@Html.ValueFor(model => model.PQCDATE)"
           		   tabindex="23"  
				   class="easyui-datebox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.PQCDATE)',
								 required:false,
								 formatter:dateformatter" />
     </div>
   </div>
				          <!--end row-->
	   <!-- begin row -->
   <!--外箱标签-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.LOTTABLE3)</label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.LOTTABLE3)" 
				   name="@Html.NameFor(model => model.LOTTABLE3)" 
				   value="@Html.ValueFor(model => model.LOTTABLE3)"
				   tabindex="24" 
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.LOTTABLE3)',
								 required:false, 
                                 validType: 'length[0,50]'
                                 " />
       </div>
  </div>
				      <!--上传用户-->
  <div class="form-group  col-md-3">
        <label class="col-md-3 control-label">@Html.DisplayNameFor(model => model.LOTTABLE1)</label>
		<div class="col-md-9">  
			<input id="@Html.IdFor(model => model.LOTTABLE1)" 
				   name="@Html.NameFor(model => model.LOTTABLE1)" 
				   value="@Html.ValueFor(model => model.LOTTABLE1)"
				   tabindex="25" 
				   class="easyui-textbox" 
                   style="width:100%"
				   type="text" 
				   data-options="prompt:'@Html.DisplayNameFor(model => model.LOTTABLE1)',
								 required:false, 
                                 validType: 'length[0,50]'
                                 " />
       </div>
  </div>
				       <!--出货单ID-->
    <div class="form-group  col-md-3">
        <label class="col-md-3 control-label"><span class="required">@Html.DisplayNameFor(model => model.ORDERID)</span></label>
		<div class="col-md-9">   	
            <input id="@Html.IdFor(model => model.ORDERID)"
			       name="@Html.NameFor(model => model.ORDERID)"
				   value="@Html.ValueFor(model => model.ORDERID)"
                   tabindex="26" required
              	   class="easyui-combobox"      
                   style="width:100%"
                   data-options="prompt:'@Html.DisplayNameFor(model => model.ORDERID)' ,
						required:true ,
						valueField: 'ID',
						textField:  'ORDERKEY' ,
						url: '/ORDERDETAILs/GetORDERSAsync' ,
						onSelect: function(item){
						//console.log(item);
				}">
       </div>
    </div>
	   	             <!--end row-->
	      </fieldset>
   </form>

<!--end form表单界面-->
<!--========================================================================================-->
     </div>
    <!--end window body -->
</div>
<div id="windowfooter" style="padding:5px;">&nbsp;</div>
<!-- 弹出窗体form表单 -->
<!-- 弹出编辑对话框 -->

<!--begin popup detailview javascript block -->
<script type="text/javascript">
    //判断新增编辑状态
    var MODELSTATE = 'Added';
    var orderdetailid = null;
    var hasChanged = false;
    function opendetailwindow(data,state) {
         MODELSTATE = state;
         initdetailview();
         orderdetailid = (data.ID || 0);
         $("#detailswindow").window("open");
         $('#orderdetail_form').form('reset');
         $('#orderdetail_form').form('load', data);
             }
  //删除当前记录
  function deleteitem() {
    $.messager.confirm('确认', '你确定要删除该记录?', result => {
      if (result) {
        const url = `/ORDERDETAILs/DeleteAsync/${orderdetailid}`;
        $.get(url).done(res => {
          if (res.success) {
            toastr.success("删除成功");
            $dg.datagrid('reload');
            $("#detailswindow").window("close");
          } else {
            $.messager.alert("错误", res.err, "error");
          }
        });
      }
    });
  }
    //async 保存数据
    async function saveitem() { 
      var $editform = $('#orderdetail_form');
      if ($editform.form('enableValidation').form('validate')) {
            let orderdetail = $editform.serializeJSON();
                        let url = '/ORDERDETAILs/EditAsync';
            //判断是新增或是修改方法
            if (MODELSTATE === 'Added') {
                url = '/ORDERDETAILs/CreateAsync';
            }
            var token = $('input[name="__RequestVerificationToken"]', $editform).val();
            $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        __RequestVerificationToken: token,
                        orderdetail:orderdetail
                    },
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8'
                })
                .done(response => {
                    if (response.success) {
                        hasChanged = false;
                        $editform.form('disableValidation');
                        $dg.datagrid('reload');
                        $('#detailswindow').window("close");
                        toastr.success("保存成功");  
                    } else {
                        $.messager.alert("错误",   response.err, "error");
                    }
                    })
                .fail((jqXHR, textStatus, errorThrown) => {
                       $.messager.alert('异常', `${jqXHR.status}: ${jqXHR.statusText} `, 'error');
                    });
        }
    }
    //关闭窗口
    function closedetailwindow() {
        $('#detailswindow').window('close');
    }
    //todo
    function todo() {
         console.log('todo.....');
    }
     //判断是否有没有保存的记录
     function hasmodified() {
            return hasChanged;

     }


function initdetailview() {
  //判断是否显示功能按钮
  if (MODELSTATE === 'Added') {
    $('#deleteitem-btn-group').hide();
  } else {
    $('#deleteitem-btn-group').show();
  }
 
//回车光标移动到下个输入控件
    //如果是枚举类型需要把numberbox改成combobox
    //配送数量
	$('#ORIGINALQTY').numberbox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //如果是枚举类型需要把numberbox改成combobox
    //配送件数
	$('#CASECNT').numberbox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //如果是枚举类型需要把numberbox改成combobox
    //未出货数量
	$('#OPENQTY').numberbox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //如果是枚举类型需要把numberbox改成combobox
    //已发运数量
	$('#SHIPPEDQTY').numberbox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //如果是枚举类型需要把numberbox改成combobox
    //已捡货数量
	$('#QTYPICKED').numberbox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //如果是枚举类型需要把numberbox改成combobox
    //栈板数
	$('#PALLET').numberbox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //如果是枚举类型需要把numberbox改成combobox
    //毛重(KG)
	$('#GROSSWGT').numberbox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //如果是枚举类型需要把numberbox改成combobox
    //净重(KG)
	$('#NETWGT').numberbox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //如果是枚举类型需要把numberbox改成combobox
    //体积(M)
	$('#CUBE').numberbox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //如果是枚举类型需要把numberbox改成combobox
    //QC数量
	$('#PQCQTYINSPECTED').numberbox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //如果是枚举类型需要把numberbox改成combobox
    //QC不良数
	$('#PQCQTYREJECTED').numberbox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //如果是枚举类型需要把numberbox改成combobox
    //LOTTABLE6
	//$('#LOTTABLE6').numberbox('textbox').bind('keydown', function (e) {
    //  if (e.keyCode == 13) {
    //    $(e.target).emulateTab();
    //  }
    //});
    //如果是枚举类型需要把numberbox改成combobox
    //LOTTABLE7
	//$('#LOTTABLE7').numberbox('textbox').bind('keydown', function (e) {
    //  if (e.keyCode == 13) {
    //    $(e.target).emulateTab();
    //  }
    //});
    //日期类型 QC日期
	$('#PQCDATE').datebox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
    //日期类型 配送日期
	//$('#REQUESTEDSHIPDATE').datebox('textbox').bind('keydown', function (e) {
    //  if (e.keyCode == 13) {
    //    $(e.target).emulateTab();
    //  }
    //});
    //日期类型 要求到货时间
	//$('#DELIVERYDATE').datebox('textbox').bind('keydown', function (e) {
    //  if (e.keyCode == 13) {
    //    $(e.target).emulateTab();
    //  }
    //});
    //日期类型 LOTTABLE7
	//$('#LOTTABLE8').datebox('textbox').bind('keydown', function (e) {
    //  if (e.keyCode == 13) {
    //    $(e.target).emulateTab();
    //  }
    //});
    //出货单ID默认外键使用combobox,也可以使用combogrid
	$('#ORDERID').combobox('textbox').bind('keydown', function (e) {
      if (e.keyCode == 13) {
        $(e.target).emulateTab();
      }
    });
}
</script>

