﻿@model WebApp.Models.ORDER
<!-- begin master section -->
<div class="row">
    <div class="col col-lg-12 col-md-12">
<!--begin order form  -->
<form id="order_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.ID)" 
                       name="@Html.NameFor(model => model.ID)" 
                       value="@Html.ValueFor(model => model.ID)" />
 <fieldset>
     <div class="row">
			              <!--出货单号-->
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.ORDERKEY)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.ORDERKEY)
            </label>
            </section>
 		 
	    
			              <!--仓库号-->
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.WHSEID)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.WHSEID)
            </label>
            </section>
 		 
	    
			              <!--批次号-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.EXTERNORDERKEY) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.EXTERNORDERKEY)
            </label>
            </section>
 		 
	    
			              <!--状态-->
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.STATUS)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.STATUS)
            </label>
            </section>
 		 
	   </div>
	    
     <div class="row">
			              <!--订单日期-->
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.ORDERDATE)</span> </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.ORDERDATE)
			    </label>
            </section>
			  		 
	    
			              <!--配送日期-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.REQUESTEDSHIPDATE) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.REQUESTEDSHIPDATE)
			    </label>
            </section>
			  		 
	    
			              <!--要求到货时间-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DELIVERYDATE) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.DELIVERYDATE)
			    </label>
            </section>
			  		 
	    
			              <!--货主-->
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.STORERKEY)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.STORERKEY)
            </label>
            </section>
 		 
	   </div>
	    
     <div class="row">
			              <!--出货方式-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.TYPE) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.TYPE)
            </label>
            </section>
 		 
	    
			              <!--供应商代码-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SUPPLIERCODE) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.SUPPLIERCODE)
            </label>
            </section>
 		 
	    
			              <!--供应商名称-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SUPPLIERNAME) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.SUPPLIERNAME)
            </label>
            </section>
 		 
	    
			              <!--配送厂区-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SUSR2) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.SUSR2)
            </label>
            </section>
 		 
	   </div>
	    
     <div class="row">
			              <!--收货单位-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CONSIGNEEKEY) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.CONSIGNEEKEY)
            </label>
            </section>
 		 
	    
			              <!--收货单位名称-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CONSIGNEENAME) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.CONSIGNEENAME)
            </label>
            </section>
 		 
	    
			              <!--收货地址-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CONSIGNEEADDRESS) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.CONSIGNEEADDRESS)
            </label>
            </section>
 		 
	    
			              <!--承运人-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CARRIERNAME) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.CARRIERNAME)
            </label>
            </section>
 		 
	   </div>
	    
     <div class="row">
			              <!--司机-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.DRIVERNAME) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.DRIVERNAME)
            </label>
            </section>
 		 
	    
			              <!--司机电话-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CARRIERPHONE) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.CARRIERPHONE)
            </label>
            </section>
 		 
	    
			              <!--运输车辆-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.TRAILERNUMBER) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.TRAILERNUMBER)
            </label>
            </section>
 		 
	    
			              <!--实际配送日期-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.ACTUALSHIPDATE) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.ACTUALSHIPDATE)
			    </label>
            </section>
			  		 
	   </div>
	    
     <div class="row">
			              <!--实际到货时间-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.ACTUALDELIVERYDATE) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.ACTUALDELIVERYDATE)
			    </label>
            </section>
			  		 
	    
			              <!--结案日期-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CLOSEDDATE) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.CLOSEDDATE)
			    </label>
            </section>
			  		 
	    
			  			<!--合计出货数量-->
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.TOTALQTY)</span> </label>
            <label class="label">
            @Html.DisplayFor(model => model.TOTALQTY)
			    </label>
            </section>
		 
	    
			  			<!--合计未出数量-->
            <section class="col col-3">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.OPENQTY)</span> </label>
            <label class="label">
            @Html.DisplayFor(model => model.OPENQTY)
			    </label>
            </section>
		 
	   </div>
	    
     <div class="row">
			  			<!--合计件数-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.TOTALPACKAGE) </label>
            <label class="label">
            @Html.DisplayFor(model => model.TOTALPACKAGE)
			    </label>
            </section>
		 
	    
			  			<!--合计毛重(KG)-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.TOTALGROSSWEIGHT) </label>
            <label class="label">
            @Html.DisplayFor(model => model.TOTALGROSSWEIGHT)
			    </label>
            </section>
		 
	    
			  			<!--合计体积(M)-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.TOTALVOLUME) </label>
            <label class="label">
            @Html.DisplayFor(model => model.TOTALVOLUME)
			    </label>
            </section>
		 
	    
			              <!--备注-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.NOTES) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.NOTES)
            </label>
            </section>
 		 
	   </div>
	    
     <div class="row">
			              <!--上传用户-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SUSR1) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.SUSR1)
            </label>
            </section>
 		 
	    
			              <!--SUSR3-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SUSR3) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.SUSR3)
            </label>
            </section>
 		 
	    
			              <!--SUSR4-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SUSR4) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.SUSR4)
            </label>
            </section>
 		 
	    
			              <!--SUSR5-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SUSR5) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.SUSR5)
            </label>
            </section>
 		 
	   </div>
	    
     <div class="row">
			  			<!--SUSR6-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SUSR6) </label>
            <label class="label">
            @Html.DisplayFor(model => model.SUSR6)
			    </label>
            </section>
		 
	    
			  			<!--SUSR7-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SUSR7) </label>
            <label class="label">
            @Html.DisplayFor(model => model.SUSR7)
			    </label>
            </section>
		 
	    
			              <!--SUSR8-->
            <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SUSR8) </label>
            <label class="label">
            
			@Html.DisplayFor(model => model.SUSR8)
			    </label>
            </section>
			  		 
	    
   </div>
	    
</fieldset>
</form>
<!-- end order form  -->
</div>
</div>
<!-- end master section -->
<!--========================================================================================-->

    <div class="row">
        <section class="col col-md-12 col-lg-12">
    <!-- details tabs -->
    <div class="tabs-container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs bordered">
								<li class="active"><a data-toggle="tab" href="#tab-orderdetails"> ORDERDETAILS</a></li>
												<li class=""><a data-toggle="tab" href="#tab-pickdetails"> PICKDETAILS</a></li>	 		 
				   
		 </ul>
		 <!-- Tab panes -->
         <div class="tab-content">
              <div id="tab-orderdetails" class="tab-pane active">
                   <div class="panel-body-toolbar">
                                    <div class="row">
                                        <div class="col-sm-8  ">
                                            <div class="btn-group">
                                                <a href="javascript:orderdetails_append()" class="btn btn-sm btn-default"> <i class="fa fa-plus"></i> 新增 </a>
                                            </div>
                                            <div class="btn-group">
                                                <a href="javascript:orderdetails_removeit()" class="btn btn-sm btn-default"> <i class="fa fa-trash-o"></i> 删除 </a>
                                            </div>
                                            <div class="btn-group">
                                                <a href="javascript:orderdetails_accept()" class="btn btn-sm btn-default"> <i class="fa fa-floppy-o"></i> 保存 </a>
                                            </div>
                                            <div class="btn-group">
                                                <a href="javascript:orderdetails_reload()" class="btn btn-sm btn-default"> <i class="fa fa-refresh"></i> 刷新 </a>
                                            </div>
                                            <div class="btn-group">
                                                <a href="javascript:orderdetails_reject()" class="btn btn-sm btn-default"> <i class="fa fa-window-close-o"></i> 取消 </a>
                                            </div>
                                        </div>
                                    </div>
                   </div>
                <div class="table-responsive">
				<table id="orderdetails_datagrid" >
                </table>
              
            </div>
         </div>
              <div id="tab-pickdetails" class="tab-pane ">
                   <div class="panel-body-toolbar">
                                    <div class="row">
                                        <div class="col-sm-8  ">
                                            <div class="btn-group">
                                                <a href="javascript:pickdetails_append()" class="btn btn-sm btn-default"> <i class="fa fa-plus"></i> 新增 </a>
                                            </div>
                                            <div class="btn-group">
                                                <a href="javascript:pickdetails_removeit()" class="btn btn-sm btn-default"> <i class="fa fa-trash-o"></i> 删除 </a>
                                            </div>
                                            <div class="btn-group">
                                                <a href="javascript:pickdetails_accept()" class="btn btn-sm btn-default"> <i class="fa fa-floppy-o"></i> 保存 </a>
                                            </div>
                                            <div class="btn-group">
                                                <a href="javascript:pickdetails_reload()" class="btn btn-sm btn-default"> <i class="fa fa-refresh"></i> 刷新 </a>
                                            </div>
                                            <div class="btn-group">
                                                <a href="javascript:pickdetails_reject()" class="btn btn-sm btn-default"> <i class="fa fa-window-close-o"></i> 取消 </a>
                                            </div>
                                        </div>
                                    </div>
                   </div>
                <div class="table-responsive">
				<table id="pickdetails_datagrid" >
                </table>
              
            </div>
         </div>
	</div>
	</div>
 
<!--end details tabs -->
        </div>
    </div>
<!-- end detail section -->



